<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -- Why? Because it doesn't seem to work, even if you try and apply the quick fix of adding a comment annotation -->
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Fragments</title>
</head>
<body>
<div th:fragment="athleteRanking (athletes, offset)">
    <div class="row my-4 athlete" th:each="athlete, stats : ${athletes}">
        <span th:text="${stats.count + offset}" class="display-4 mr-3">1</span>


        <img class="avatar mx-3" th:src="${athlete.avatarUrl}"
             src="https://graph.facebook.com/10209039566897023/picture?height=256&width=256" alt="User portrait"/>


        <a th:href="${athlete.url}">
            <span class="display-4" th:text="${athlete.name}">
                Brad
            </span>
        </a>

        <ul class="mt-3">
            <li>
                <div>Miles: <span th:text="${athlete.mileage}">100</span></div>
            </li>
            <li>
                <div>Elevation: <span th:text="${athlete.elevation}">300</span></div>
            </li>
            <li>
                <div>Score: <span th:text="${athlete.score}">40</span></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>